@charset "UTF-8";

/*  font-family: 'Source Sans Pro', sans-serif; */
/* 	font-family: 'Nanum Gothic', sans-serif; */
/* 	font-family: 'Nanum Pen Script', cursive; */
/* 	font-family: 'Arimo', sans-serif; */


/* 여기부터 로그인 페이지 CSS */
.container_loginpage {
	margin: 80%;
	width: 385px;
	line-height: 50px;
	align-content: center;
}

h5 {
	text-align: center;
}

h5 span {
	color: teal;
}

.login {
	background-color: rgb(255, 80, 90);
	color: white;
	border-radius: 5px;
	border: 0;
	padding: 10px 172px;
}

#signup {
	background-color: white;
	color: teal;
	border: 0;
	font-size: 17px;
}

p {
	text-align: center;
}

i {
	color: lightgray;
}

#imail {
	position: absolute;
	top: 130px;
	margin: 0 355px;
}

#ipw {
	position: absolute;
	top: 180px;
	margin: 0 355px;
}

input {
	border: 1px solid lightgray;
	border-radius: 3px;
}
/* 여기까지 로그인 페이지 CSS */	
/* 여기까지 FOOTER CSS */




	
}







